* {
    box-sizing: border-box;
}

.login-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 20px;
    font-family: 'SUIT-Regular';
    cursor: pointer;
}

.nav-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-box {
    width: 30rem;
    height: 3rem;
    margin: 0px;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 10rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.search-box input {
    outline: none;
    border: none;
    font-size: 1.2rem;
    width: 30rem;
    font-family: 'SUIT-Regular';
}

.mobile-nav-section {
    display: flex;
    justify-content: center;
}

.mobile-logo {
    height: 4rem;
}

.mobile-search-box {
    width: 15rem;
    height: 3rem;
    margin: 0px;
    padding: 1rem;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.mobile-search-box input {
    outline: none;
    border: none;
    font-size: 1.2rem;
    width: 12rem;
    font-family: 'SUIT-Regular';
}

.menu-area {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "YeojuCeramic";
    font-size: 1rem;
}

.menu-list {
    display: flex;
    list-style-type: none;
}

.menu-list li {
    padding: 10px;
    cursor: pointer;
}

.menu-list li:hover {
    color: #848484;
}

.hamburger-menu {
    margin-left: 10px;
    cursor: pointer;
}

.mobile-menu-list {
    font-family: "YeojuCeramic";
    font-size: 1rem;
    list-style-type: none;
}

.mobile-menu-list li {
    padding: 10px;
    cursor: pointer;
}

.mobile-menu-list li:hover {
    color: #848484;
}

.mobile-menu-x {
    border: none;
    background-color: transparent;
    position: absolute;
    right: 20px;
}

.product-card {
    word-wrap: break-word;
    background-clip: border-box;
    display: flex;
    flex-direction: column;
    min-width: 0;
    position: relative;
    margin-top: 50px;
    font-family: 'GmarketSansMedium';
    font-size: 0.8rem;
}

.product-card:hover {
    transform: scale(1.1);
}

.brandname {
    font-family: 'SUIT-Regular';
    font-size: 0.9rem;
}

@keyframes blink-effect {
    50% {
        opacity: 0;
    }
}

.new-text {
    width: fit-content;
    background-color: black;
    color: white;
    animation: blink-effect 1s step-end infinite;
    font-size: 0.5rem;
}

.login-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-family: 'SUIT-Regular';
}

.line {
    border-bottom: 3px solid black;
    margin-top: 30px;
    margin-bottom: 30px;
}

#login-area {
    font-family: 'GmarketSansMedium';
    display: flex;
    justify-content: center;
    align-items: center;

    .login-form {
        width: 40rem;
    }

    .form-input {
        background-color: #F2F2F2;
        border-radius: 0px;
    }


    .login-check input {
        background-color: white;
        border: 1px solid black;
        border-radius: 10px;
    }

    .login-check input:checked {
        background-color: black;
    }

    .login-find {
        color: #575757;
    }

    .login-click {
        width: 10rem;
        border: none;
        border-radius: 0px;
        background-color: black;
        color: white;
        padding: 10px;
        font-size: 1.2rem;
        font-family: 'GmarketSansMedium';
    }
}

.login-click:hover {
    border-radius: 5rem;
    box-shadow: 2px 2px 5px #848484;
}

.price {
    color: #848484;
    text-decoration: line-through;
    font-size: 0.6rem;
}

.pickbox {
    background-color: white;
    width: fit-content;

    padding: 2px;
    font-size: 0.45rem;
}

.pickbox_switched {
    background-color: #FB6D33;
    width: fit-content;
    color: white;
}


.nametext {
    color: #555555;
    margin: 3px;
}

.saleprice {
    color: black;
    font-size: 0.9rem;
}

.saleper {
    color: #FA5500;
    font-size: 0.9rem;

}

.product-img {
    display: flex;
    justify-content: flex-end;
}

.footer {
    background-color: white;
    color: #9C9E9C;
    margin-top: 100px;

}

.footer ul {
    background-color: #848484;
    font-size: 1rem;
    color: white;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "GmarketSansMedium";
}

.footer ul li {
    padding: 10px;
    cursor: pointer;
}

.footer div {
    font-family: "SUIT-Regular";
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
}

.footer-text {
    display: flex;
    justify-content: center;
}

.detail-product {
    font-family: 'SUIT-Regular';
}

.detail-product-brand {
    font-size: 1.3rem;
    margin: 5px;
}

.detail-product-title {
    font-size: 1.1rem;
    margin: 5px;
}

.detail-product-star {
    color: #FA5500;
    margin: 5px;
}

.detail-product-price {
    font-size: 1.2rem;
    margin: 5px;
}

.detail-product-price h {
    font-size: 1rem;
    color: #848484;
    text-decoration: line-through;
    margin: 5px;
}

.detail-product-saleprice {
    font-size: 1.2rem;
    margin: 5px;
}

.detail-product-saleprice b {
    margin: 5px;
}

.detail-product-saleper {
    color: #FA5500;
    font-size: 1.1rem;
    margin: 5px;
}

.buy-click {
    width: 10rem;
    border: 1px solid black;
    background-color: white;
    color: black;
    padding: 10px;
    margin: 10px;
    font-size: 1.2rem;
    font-family: 'GmarketSansMedium';
}

.buy-click:hover {
    border-radius: 5rem;
    box-shadow: 2px 2px 5px #848484;
}

.cart-click {
    width: 10rem;
    border: none;
    background-color: black;
    color: white;
    padding: 10px;
    margin: 10px;
    font-size: 1.2rem;
    font-family: 'GmarketSansMedium';
}

.cart-click:hover {
    border-radius: 5rem;
    box-shadow: 2px 2px 5px #848484;
}

.detail-product-new {
    width: fit-content;
    background-color: black;
    color: white;
    animation: blink-effect 1s step-end infinite;
    font-size: 0.7rem;
}

.product-detail-ex {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    padding: 5px;
}

.detail-line {
    border-bottom: 2px solid black;
    margin-top: 15px;
    margin-bottom: 15px;
}


@font-face {
    font-family: "YeojuCeramic";
    font-weight: 50;
    src: url("./fonts/YeojuCeramic.ttf") format("truetype");
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}